.navbar .menu1 {
  list-style-type: none;
  display: inline-flex;
  padding-right: 50px;
}
#label {
  margin-left: 50px;
  font-size: 25px;
  display: none;
}
#toggle {
  display: none;
}
li {
  list-style-type: none;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
  color: rgb(99, 93, 93);
}
li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 20px;
  left: 90px;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

.menu2 li {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: white;
}
a {
  color: inherit;
  text-decoration: none;
}

.navbar2 .menu3 {
  list-style-type: none;
  display: inline-flex;
  margin-right: 50px;
}

.Profile,
.Notifications,
.Contact {
  padding-right: 50px;
}
#Right {
  float: right;
}
.City {
  margin-top: 50px;
  text-align: center;
  opacity: 0.2;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

.D1,
.D2,
.D3,
.D4,
.D5,
.D6 {
  margin-bottom: 30px;
  text-align: center;
}

.offer1 {
  border: 3px;
  border-color: turquoise;
  padding: 1rem;
  border-style: solid;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  box-sizing: inherit;
}

#myBtn,
#newBtn,
#newerBtn,
#newestBtn {
  border: none;
  background-color: inherit;
  font-size: 30px;
  cursor: pointer;
  outline: none;
}

#apply {
  border: 4px;
  background-color: turquoise;
  outline-color: turquoise;
  font-size: 20px;
}

#more,
#more2,
#more3,
#more4 {
  display: none;
}

.offer2 {
  margin-top: 50px;
  border: 3px;
  border-color: turquoise;
  padding: 1rem;
  border-style: solid;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  box-sizing: inherit;
}

.offer3 {
  margin-top: 50px;
  border: 3px;
  border-color: turquoise;
  padding: 1rem;
  border-style: solid;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  box-sizing: inherit;
}

.offer4 {
  margin-top: 50px;
  border: 3px;
  border-color: turquoise;
  padding: 1rem;
  border-style: solid;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  box-sizing: inherit;
}

.btn-group {
  margin-top: 50px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  margin-right: 3px;
}

.btnpage {
  outline-color: turquoise;
  border-radius: 25px;
}
footer {
  margin-top: 40px;
  text-align: right;
  font-family: "Courier New", Courier, monospace;
  color: grey;
  font-size: 10px;
  padding: 20px;
  background-color: turquoise;
}

@media screen and (max-width: 600px) {
  #label {
    display: block;
    cursor: pointer;
  }

  .navbar2 {
    display: flex;
    margin-left: 25px;
    display: none;
  }

  .navbar2 .menu3 {
    display: block;
  }

  #toggle:checked ~ .navbar2 {
    display: block;
  }
  #toggle:checked ~ .navbar3 {
    display: block;
  }

  #myBtn,
  #newBtn,
  #newerBtn,
  #newestBtn {
    font-size: 20px;
  }
  .offer1,
  .offer2,
  .offer3,
  .offer4 {
    border: 2px;
    border-style: dashed;
    border-color: turquoise;
  }
  .border {
    margin-left: 75px;
    margin-top: 50px;
    width: 200px;
    height: 300px;
    border-style: dashed;
  }
}
